@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Popins', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  border-bottom: 2px solid #3498db;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(to right, #3498db, #2980b9);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

h1:hover {
  background: linear-gradient(to right, #2980b9, #3498db);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2, h3, h4 {
  color: #333;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

p {
  color: #555;
  line-height: 1.8;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

a {
  color: #3498db;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: underline;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  overflow-x: auto;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.center {
  text-align: center;
}

ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

ul li {
  background: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  padding: 10px;
  border-left: 3px solid #3498db;
}

body li::marker {
  color: #555;
}

ol {
  margin: 20px 0;
  padding: 0 0 0 20px;
}

ol li {
  margin-bottom: 10px;
}

code {
  background: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.section {
  margin-bottom: 40px;
}

.highlight {
  background: #eaf5ff;
  padding: 10px;
  border-left: 4px solid #3498db;
  margin: 20px 0;
}

#table-of-contents ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#table-of-contents ul li {
  background: #f9f9f9;
  margin-bottom: 5px;
  padding: 10px;
  border-left: 3px solid #3498db;
  transition: background 0.3s ease, border-left-color 0.3s ease, box-shadow 0.3s ease;
}

#table-of-contents ul li a {
  display: block;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

#table-of-contents ul li:hover {
  background: #e0f7ff;
  border-left-color: #2980b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#table-of-contents ul li:hover a {
  color: #2980b9;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .container {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode h1 {
  background: linear-gradient(to right, #4a4a4a, #2e2e2e);
  color: white;
}

body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4 {
  color: #e0e0e0;
}

body.dark-mode p {
  color: #b0b0b0;
}

body.dark-mode a {
  color: #82b1ff;
}

body.dark-mode a:hover {
  color: #3399ff;
}

body.dark-mode pre {
  background-color: #2e2e2e;
  border-color: #555;
}

body.dark-mode li {
  color: #000000;
  border-left-color: #82b1ff;
}

body.dark-mode li::marker {
  color: #b0b0b0;
}

body.dark-mode code {
  background-color: #2e2e2e;
  color: white;
}

body.dark-mode .highlight {
  background-color: #333;
  border-left-color: #82b1ff;
}

.toggle-container {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.toggle-button {
  background: #3498db;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.toggle-button i {
  font-size: 24px;
  color: white;
  transition: transform 0.3s ease;
}

.toggle-button:hover {
  background: #2980b9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.toggle-button:hover i {
  transform: rotate(45deg);
}

body.dark-mode .toggle-button {
  background: #82b1ff;
}

body.dark-mode .toggle-button:hover {
  background: #3399ff;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  font-size: 20px;
}

#scroll-to-top:hover {
  background-color: #2980b9;
}
